@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: inherit;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #E0E0E0 */
}

main {
  min-height: 100vh;
}

table.calendar {
  background-color: #a6e3e9;
  width: 70%;
  /* height: 20vh; */
  padding: 1rem;
  text-align: center;
  table-layout: fixed;
  border-spacing: 5px;
  border-collapse: collapse;
  position: relative;
  left: 25%;
  top: 10vh;;
}

table.calendar td, table.calendar th {
  padding: 8px 8px;
  height: 6vh;
}

table.calendar tbody td {
  font-size: 1rem;
  color: lightcoral;
  font-weight: bold;
  /* border: 1px solid #F0F0F0; */
  border: 2px solid white;
}

table.calendar tr:nth-child(even) {
  background: #CBF1F5;
}

table.calendar thead {
  background: #71C9CE;
}

table.calendar thead th {
  font-size: 1.5rem;
  font-weight: 600;
  color: #E6E6E6;
  border: 2px solid white;
}

table.calendar thead th:first-child {}

table.calendar tr td:first-child {}

.project, .workshop, .personnal, .activities, .lunch {
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  background-color: purple;
}

.workshop {
  background-color: #F6D56E;
}

.personnal {
  background-color: #6EF6A1;
}

.activities {
  background-color: #6EF6E2;
}

.lunch{
  background-color: #756EF6;
}
